body {
    margin: 15px;
}

h1 {
    color: #bb0811;
}

h2 {
    color: #bb0811;
}

h3 {
    color: #bb0811;
    font-size: 20px;
}

p {
    font-size: 20px;
}

footer {
    color: #bb0811;
}

div {
    margin: 15px;
}

#intro {
    margin: 15px 15px 50px 15px;
}

#questions {
    margin: 15px 15px 50px 15px;
}

#books {
    margin: 15px 15px 50px 15px;
}

footer {
    margin: 15px;
}